<div class="ui container">

    <div class="header">
        <div class="company">
            <img class="ui image logo" src="../assets/money.png">
            <h2 class="title-header">Stock Tracker</h2>
        </div>
        <div class="ui inverted menu">
            <a class="item" [routerLink]="'/upload'">BULK UPLOAD</a>
            <a class="item" [routerLink]="'/search'">SEARCH STOCK</a>
            <a class="item" [routerLink]="'/add'">ADD STOCK</a>
        </div>
    </div>

    
    <div class="top-space">
        <router-outlet></router-outlet>
    </div>
    

</div>




